*{
      box-sizing: border-box;
}
body{
      background-color: lightskyblue;
}
img{
      width: 50%;
      margin: auto;
      border: 5px double black ;
      display: block;
}

h1,h2, p{
      text-align: center;
      width: 100%;
      padding: 10px;

}

li{
      margin-top: 15px;
}
span{
      font-weight: bold;
}
#quote{
      font-size: 15px;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
}
#subquote{
      font-weight: lighter;
      font-style: italic;
}
footer{
      margin-top: 50px;
}